body {
    overflow: hidden;
}

canvas{
    background-image: url("./../img/background.jpg");
    /* background-color: rgb(249, 252, 252); */
}

#password-detection{
    position: absolute;
  top: 30%;
  left: 44%;
  margin: -25px 0 0 -25px;
    
  
  
}
